@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Montserrat:ital,wght@0,300;1,200&family=Poppins:wght@200&family=Source+Sans+Pro:wght@300&display=swap');
:root {
    --heading-font: "Lato";
    --paragraph-font: Montserrat, Poppins, Source Sans Pro;
}
.content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
main section img {
    box-sizing: border-box;
}